.notification-icon {
  position: relative;
  .notification-count {
    position: absolute;
    top: 0;
    right: -2px;
    height: 18px;
    width: 18px;
    font-size: 9px;
    background: #dc3545;
    color: white;
    padding: 3px;
    border-radius: 50%;
    font-weight: 700;
  }
}

.header-logo{
  font-weight: 700;
  font-size: 24px;
  color: black;
}
aside {
  border-right: 1px solid rgb(230, 235, 242);
}

.component {
  width: 101%;
  height: 165px;
  background: #23536b;
}
.container-fluid .component{
  margin-left:-24px;
  top: -20px;
  width: 104%;
  
}
td {
  // padding: 3px;
  text-align: center;
}

.table .btn {
  color: white;
  // background: #23536b;
  // border: 1px solid #23536b;
  border-radius: 6px;
}
.table{
  background: #ffffff;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 20, 0.08), 0px 1px 2px rgba(0, 0, 20, 0.08);
  border-radius: 8px;
}
.table-2{
  width: 70%;
  background: #ffffff;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 20, 0.08), 0px 1px 2px rgba(0, 0, 20, 0.08);
  border-radius: 8px;
}
.table-2 td{
  padding: 15px;
}
.project {
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;
letter-spacing: -0.32px;
color: #FFFFFF;
}

.new{
  width: 164.46px;
height: 39px;
  background: #FFFFFF;
border: 1px solid #FFFFFF;
border-radius: 6px;
}
@media (min-width:992px) and (max-width:1100px){
  .container-fluid .component{
    width: 106%;
  }
  
}
@media (min-width:845px) and (max-width:991px){

  .container-fluid .component{
    width: 107%;
  }
}
@media (min-width:745px) and (max-width:844px){

  .container-fluid .component{
    width: 108%;
  }
}
@media (min-width:600px) and (max-width:744px){

  .container-fluid .component{
    width: 108%;
  }
}
@media (min-width:476px) and (max-width:599px){

.find{
  width: 75%;
}
  .container-fluid .component{
    width: 109%;
  }
}
@media (min-width:390px) and (max-width:476px) {

  .find{
    width:60%;
  }
}
@media (min-width:374px) and (max-width:390px) {

  .find{
    width:55%;
    margin-left: -4px;
  }
  .menu{
margin-left: 5px;
  }
}
@media (min-width:300px) and (max-width:374px) {

  .find{
    width:51%;
    margin-left: -19px;
  }
  .menu{
margin-left: 5px;
  }
}
@media (min-width:270px) and (max-width:475px) {

  .container-fluid .component{
    width: 118%;
  }
}
@media (min-width:200px) and (max-width:270px) {

  .container-fluid .component{
    width: 125%;
  }
}

@media (min-width:769px) {
  .project , .new{
margin-top: 1rem !important;
}}
@media (max-width:768px) {
  .project , .new {
margin-top: 0rem !important;
}}
