.logo{
    font-weight: 700;
    font-size: 24px;
    padding: 20px;
}
.nav-link {
    display: flex;
    gap: 8px;
}
.dash-span{
    margin-left: -10px;
    margin-bottom: 5px;
}
.nav-link:hover{
     color: #1d3f50;
}
.nav-item:hover{
   background-color: #bdcbd3;
}
